# Simple TensorFlow Example Multiply

In [ ]:
!pip install numpy
!pip install tensorflow

In [ ]:
import numpy as np
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

Step1: Define the variable

In [20]:
X_1 = tf.placeholder(tf.float32, name = "X_1")
X_2 = tf.placeholder(tf.float32, name = "X_2")

Step2: Define the computation

In [21]:
multiply = tf.multiply(X_1, X_2, name= "multiply")

Step3: Execute the operation

In [19]:
X_1 = tf.placeholder(tf.float32, name = "X_1")
X_2 = tf.placeholder(tf.float32, name = "X_2")

multiply = tf.multiply(X_1, X_2, name = "multiply")

with tf.Session() as session:
  result = session.run(multiply, feed_dict = {X_1:[1,2,3], X_2:[4,5,6]})
  print(result)

[ 4. 10. 18.]